body {background-color:rgb(195, 217, 255);}
#footer {text-align:center;}
.separator {padding-left:10px;padding-right:10px;}
#header>div.left>span:first-of-type {font-family:SimHei;font-size:18pt;color:gray;}
#header>div.left>span:nth-of-type(2) {margin-left: 5px;color:blue;}
#nick {font-weight:bold;}
#upgrade {font-weight:bold;}
.logo {margin-top: 10px;}
.toolbar {border:1px solid #ddd;padding:0 10px;margin-bottom:10px;background:#f6f6f6;}
#batch-add-label,#batch-recover {margin-top:0.5em;}
#items-table {border:1px solid #ddd;}
tbody tr.row-selected, tbody tr.row-selected td {background:rgb(255, 255, 150);}
.ui-widget-content a {color:#06C;text-decoration:underline;}
.selection {background:rgb(255, 255, 150);}
td.item-main-pic {width:90px;}
td.item-details {width:200px;}
td.op {width:70px;}
#options {text-align:left;background-color:white;}
#options fieldset {padding:0 10px;}
#options table {margin:0;}
#options table tr td {background-color:white;}
#options table tr td:first-child {width:70px;}
#options input[type='text'] {width:150px;}
#fixed-tools {position:fixed;right:50px;top:300px;cursor:pointer;}
#top {margin-bottom:5px;}
#merging-left {width:330px;}
#image-table {display:table-cell;width:330px;height:330px;text-align:center;overflow:hidden;}
#image-table td {padding:0;}
#image-td {width:310px;height:310px;border:1px solid lightblue;text-align:center;overflow:hidden;}
#main-pic {position:relative;margin:auto;}
#frame {position:absolute;top:0;left:0;width:100%;height:100%;}
#ctabs {width:510px;height:500px;}
#labels {width:470px;height:430px;overflow:auto;}
#labels>div.labels-panel {height:200px;padding:0;}
.label-item,.frame-item {width:50px;height:50px;float:left;margin:5px;border:1px solid lightblue;cursor:pointer;}
.custom-label-item {position:relative;}
.custom-label-tool {position:absolute;top:0;right:0;}
.text-item {width:78px;height:43px;float:left;margin:10px;border:1px solid lightblue;cursor:pointer;}
.merge {border:1px dotted lightblue;cursor:move;}
.loading {background:url('../images/processing.gif') no-repeat center;}
.label-tool {position:absolute;top:0;right:0;cursor:pointer;}
#main-pic .ui-selected {border:1px solid blue;}
#image-label-options,#text-label-options {height:190px;overflow:auto;}
#text-options-form {height:130px;overflow:auto;border:1px solid #DDD;}
.button-bar {height:32px;}
.border {border:1px solid lightblue;}
#faq ul {list-style-type:none;width:550px;}
#faq li {font-size:1.1em;font-weight:bold;color:blue;margin-bottom:5px;}
#faq p {color:#666;}
.red {color:red;}
.strong{color:blue;font-weight:bold;}